.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}












@media(max-width: 1600px) {
  .navigation-links-text {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text1 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text2 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text3 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text4 {
    color: var(--dl-color-gray-900);
  }
}
@media(max-width: 991px) {
  .navigation-links-text {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text1 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text2 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text3 {
    color: var(--dl-color-gray-900);
  }
  .navigation-links-text4 {
    color: var(--dl-color-gray-900);
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.main-mod-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-mod-header {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  margin-left: 2px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.main-mod-image {
  height: 2rem;
}
.main-mod-nav {
  display: flex;
}
.main-mod-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-mod-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.main-mod-burger-menu {
  display: none;
}
.main-mod-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-mod-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.main-mod-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-mod-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.main-mod-image1 {
  height: 2rem;
}
.main-mod-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-mod-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-mod-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-mod-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-mod-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-mod-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-mod-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-mod-video {
  width: 320px;
  height: 180px;
}
.main-mod-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.main-mod-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-mod-video2 {
  width: 320px;
  height: 180px;
}
.main-mod-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-mod-video3 {
  width: 320px;
  height: 180px;
}
.main-mod-video4 {
  width: 320px;
  height: 180px;
}
.main-mod-video5 {
  width: 320px;
  height: 180px;
}
.main-mod-video6 {
  width: 320px;
  height: 180px;
}
@media(max-width: 1600px) {
  .main-mod-container {
    border-color: var(--dl-color-primary-300);
    border-width: 1px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1563518839049-f44a5e423f12?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxibHVlfGVufDB8fHx8MTcwMzc1MDA1M3ww&ixlib=rb-4.0.3&w=1500");
  }
  .main-mod-header {
    width: auto;
    max-width: 100%;
    border-color: var(--dl-color-primary-300);
    border-width: 0px;
  }
  .main-mod-container2 {
    width: auto;
    align-self: stretch;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
  }
  .main-mod-container3 {
    flex: 1;
    width: 988px;
    height: 494px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-mod-video {
    flex: 1;
    width: 844px;
    height: 425px;
    align-self: flex-start;
  }
  .main-mod-container4 {
    gap: var(--dl-space-space-twounits);
    width: 394px;
    height: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: flex-start;
  }
  .main-mod-video1 {
    box-shadow: 0px 0px 10px 10px #6bbedc;
    border-color: var(--dl-color-primary-300);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .main-mod-container5 {
    gap: var(--dl-space-space-halfunit);
    height: var(--dl-size-size-small);
    align-items: stretch;
  }
  .main-mod-select {
    flex: 1;
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .main-mod-textinput {
    background-color: var(--dl-color-success-500);
  }
  .main-mod-video2 {
    width: 391px;
    height: 220px;
  }
  .main-mod-container6 {
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
  }
  .main-mod-video3 {
    box-shadow: 0px 0px 10px 10px #6bbedc;
    border-color: var(--dl-color-primary-300);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
  }
}
@media(max-width: 1200px) {
  .main-mod-header {
    align-self: stretch;
  }
  .main-mod-video {
    flex: 1;
    width: 820px;
    height: 464px;
  }
}
@media(max-width: 991px) {
  .main-mod-container {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1563518839049-f44a5e423f12?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxibHVlfGVufDB8fHx8MTcwMzc1MDA1M3ww&ixlib=rb-4.0.3&w=1500");
  }
}
@media(max-width: 767px) {
  .main-mod-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-mod-nav {
    display: none;
  }
  .main-mod-btn-group {
    display: none;
  }
  .main-mod-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .main-mod-header {
    padding: var(--dl-space-space-unit);
  }
  .main-mod-mobile-menu {
    padding: 16px;
  }
}
